* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #010718;
  color: #fff;
  font-family: arial, sans-serif;
}
.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container span {
  position: relative;
  color: #e0b0ff;
}
.container span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #010718;
  border-left: 2px solid #e0b0ff;
  animation: animate 4s steps(12) infinite;
}
@keyframes animate {
  40%, 60% {
    left: calc(100% + 4px);
  }
  100% {
    left: 0%;
  }
}